<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="./styles/style2.css">
    <link rel="stylesheet" href="./styles/styleaddcontract.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="https://cracku.in/latest-govt-jobs/wp-content/uploads/2020/02/aai-logo.png" alt="">
                    <h2>Airports Authority Of<br>
                        India</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-symbols-outlined">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="/Dashboard" class="active">
                    <span class="material-symbols-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a href="/details">
                    <span class="material-symbols-sharp">
                        details
                    </span>
                    <h3>Details</h3>
                </a>
                <a href="/aboutus">
                    <span class="material-symbols-sharp">
                        grid_view
                    </span>
                    <h3>About Us</h3>
                </a>
                <a href="/logout">
                    <span class="material-symbols-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <main>
            <h1>Dashboard</h1>
            <div class="insights">
                <div class="orders" id="total">
                    <span class="material-symbols-outlined">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total Contracts</h3>
                            <h1>
                                {{contract.length}}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="revenue" id="revenueBox">
                    <span class="material-symbols-outlined">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Revenue Expenditure Contracts</h3>
                            <h1>
                                {{revenue.length}}
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="capital">
                    <span class="material-symbols-outlined">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Capital Expenditure Contracts</h3>
                            <h1>
                                {{capital.length}}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recent-orders">
                <h2>Recent Orders</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Contract ID</th>
                            <th>Contract name</th>
                            <th>Contract Status</th>
                            <th>Contract Type</th>
                            <th>Contract Start Date</th>
                            <th id="contractEndDateButton">Contract End Date</th>
                            <th>Description</th>
                            <th>Modified Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tbody class="totalcontract">
                        {{#each contract as |p|}}
                        <tr>
                            <td class="hidden">{{p._id}}</td>
                            <td>{{p.Contract_ID}}</td>
                            <td>{{p.Contract_Name}}</td>
                            <td>{{p.Contract_Status}}</td>
                            <td>{{p.Contract_Type}}</td>
                            <td>{{p.Contract_StartDate}}</td>
                            <td>{{p.Contract_EndData}}</td>
                            <td>{{p.Description}}</td>
                            <td>{{p.Modified_Date}}</td>
                            <td><button class="bpopup" id="popupbutton"><img class="active"
                                        src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/more-512.png"
                                        alt=""></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tbody id="revenue" class="hidden">
                        {{#each revenue as |p|}}
                        <tr>
                            <td class="hidden">{{p._id}}</td>
                            <td>{{p.Contract_ID}}</td>
                            <td>{{p.Contract_Name}}</td>
                            <td>{{p.Contract_Status}}</td>
                            <td>{{p.Contract_Type}}</td>
                            <td>{{p.Contract_StartDate}}</td>
                            <td>{{p.Contract_EndData}}</td>
                            <td>{{p.Description}}</td>
                            <td>{{p.Modified_Date}}</td>
                            <td><button class="bpopup" id="popupbutton"><img
                                        src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/more-512.png"
                                        alt=""></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    <tbody id="capital1" class="hidden">
                        {{#each capital as |p|}}
                        <tr>
                            <td class="hidden">{{p._id}}</td>
                            <td>{{p.Contract_ID}}</td>
                            <td>{{p.Contract_Name}}</td>
                            <td>{{p.Contract_Status}}</td>
                            <td>{{p.Contract_Type}}</td>
                            <td>{{p.Contract_StartDate}}</td>
                            <td>{{p.Contract_EndData}}</td>
                            <td>{{p.Description}}</td>
                            <td>{{p.Modified_Date}}</td>
                            <td><button class="bpopup" id="popupbutton"><img
                                        src="https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/more-512.png"
                                        alt=""></button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </main>
        <div class="right">
            <div class="top">
                <button type="menu" id="menu-btn">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <div class="theme-toggler">
                    <span class="material-symbols-outlined active">light_mode</span>
                    <span class="material-symbols-outlined">dark_mode</span>
                </div>
                <div class="user">
                    Add New Contract
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>{{name}}</b></p>
                        <small class="text-muted">Welcome back 👋</small>
                    </div>
                    <div class="profile-photo">
                        {{!-- <img src="user_logo.jpg" alt=""> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay hidden" id="overlay"></div>
    <div class="container1">
        <div class="title">Add Contract</div>
        <form action="/addcontract" method="POST">
            <div class="Contract-details">
                <div class="input-box">
                    <span class="details">Contract ID</span>
                    <input type="text" name="Contract_ID" placeholder="Contract ID" required>
                </div>
                <div class="input-box">
                    <span class="details">Contract Name</span>
                    <input type="text" name="Contract_Name" placeholder="Contract Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Status</span>
                    <div class="select-box">
                        <select name="Contract_Status">
                            <option hidden>Status</option>
                            <option>Active</option>
                            <option>Expired</option>
                        </select>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Contract Type</span>
                    <div class="select-box">
                        <select name="Contract_Type">
                            <option hidden>Contract type</option>
                            <option>Revenue Expenditure</option>
                            <option>Capital expenditure</option>
                        </select>
                    </div>
                </div>
                <div class="input-box">
                    <span class="details">Start Date</span>
                    <input type="date" placeholder="Start Date" name="Contract_StartDate" required>
                </div>
                <div class="input-box">
                    <span class="details">End Date</span>
                    <input type="date" placeholder="End Date" name="Contract_EndData" required>
                </div>
                <div class="input-box">
                    <span class="details">Description</span>
                    <input type="text" placeholder="Description" name="Description" required>
                </div>
                <div class="input-box">
                    <span class="details">Price Order Number</span>
                    <input type="number" placeholder="Price Order Number" name="Price_Order_Number" required>
                </div>
                <div class="input-box">
                    <span class="details">Billing Cycle</span>
                    <input type="text" placeholder="Billing Cycle" name="Billing_Cycle" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Invoice Date</span>
                    <input type="date" placeholder="Last Invoice Date" name="LastInvoice_Data" required>
                </div>
                <div class="input-box">
                    <span class="details">Contract Price</span>
                    <input type="number" placeholder="Contract Price" name="Contract_Price" required>
                </div>
                <div class="button">
                    <input type="submit" name="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
    <div class="popupmenu">
        <div class="title">Contract Details</div>
        <div class="Contract-details">
            <div class="input-box">
                <span class="details">Contract ID</span>
                <div class="info1 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Contract Name</span>
                <div class="info2 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Status</span>
                <div class="info3 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Contract Type</span>
                <div class="info4 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Start Date</span>
                <div class="info5 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">End Date</span>
                <div class="info6 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Description</span>
                <div class="info7 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Price Order Number</span>
                <div class="info8 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Billing Cycle</span>
                <div class="info9 fl"></div>
            </div>
            <div class="input-box">
                <span class="details">Last Invoice Date</span>
                <div class="info10 fl"></div>
            </div>
        </div>
    </div>
    <script src="./js/script1.js"></script>
    <script>
        // This script disables the back button after logout
        window.history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            window.history.pushState(null, null, document.URL);
        });
    </script>

</body>

</html>